.work-list {
    display: grid;
    grid-gap: 40px;
    margin-top: 50px;
}
.work {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #B923E1);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.work:hover img {
    transform: scale(1.1);
}
.work:hover .layer {
    height: 100%;
}
.btn {
    display: block;
    margin: 40px auto;
    text-decoration: none;
    color: #fff;
    width: fit-content;
    border: 1px solid #B923E1;
    padding: 8px 20px;
    border-radius: 6px;
    transition: background 0.5s;
}
.btn:hover {
    background-color: #B923E1;
}