
.services-list div {
    background: #262626;
    padding: 20px;
    font-size: 12px;
    font-weight: 300;
    border-radius: 5px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div:hover {
    background-color: #B923E1;
    transform: translateY(-10px);
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #B923E1);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

@keyframes pulse {
  0%, 100% {
    opacity: 0.3;
    transform: scale(1);
  }
  50% {
    opacity: 0.6;
    transform: scale(1.05);
  }
}
.animate-pulse {
  animation: pulse 6s infinite ease-in-out;
}

@keyframes pulse {
  0%, 100% {
    opacity: 0.3;
    transform: scale(1);
  }
  50% {
    opacity: 0.6;
    transform: scale(1.05);
  }
}
.animate-pulse {
  animation: pulse 6s infinite ease-in-out;
}
