.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
    padding: 0.5rem 2rem; 
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-link p {
    margin: 0;
    font-size: 1.2rem; 
}

.connect-button {
    cursor: pointer;
    border-radius: 9999px;
    transition: transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 0.5rem 1.2rem; 
    font-size: 1rem; 
}

.connect-button:hover {
    transform: scale(1.05);
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: linear-gradient(to right, #B923E1, #ff004f);
    bottom: -5px;
    left: 0;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}


@media screen and (min-width: 1025px) {
    .navbar-container {
        padding: 1rem 3rem; 
    }

    .nav-link {
        text-align: center;
        padding: 1rem;
        border-bottom: none;
        font-size: 1.4rem; 
    }

    .connect-button {
        display: block; 
    }

    .lg\\:flex {
        display: flex !important;
    }
}


@media screen and (max-width: 1024px) {
    .navbar-container {
        padding: 0.5rem 1rem; 
    }

    .nav-link {
        text-align: center;
        padding: 0.5rem; 
        font-size: 1.3rem; 
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .nav-link:last-child {
        border-bottom: none;
    }

    .connect-button {
        display: none; 
    }

    
    .nav-link:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .nav-link:hover p {
        color: #B923E1;
    }
}


@media screen and (max-width: 768px) {
    .navbar-container {
        padding: 0.5rem 1rem; 
    }

    .nav-link {
        font-size: 1.2rem; 
        text-align: center;
        padding: 0.8rem; 
    }

    .nav-link p {
        margin: 0;
    }

    .connect-button {
        display: none; 
    }

    .nav-link {
        display: block;
        text-align: left;
        padding: 1rem;
    }

    .nav-link:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .nav-link:hover p {
        color: #B923E1;
    }

    .nav-link {
        display: block;
        text-align: left;
        padding: 1rem;
    }

    .nav-link:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
}


.navbar-container .lg\\:hidden {
    display: block;
}

.navbar-container .lg\\:hidden span {
    font-size: 2rem;
    color: white;
    cursor: pointer;
}


.navbar-container .isMenuOpen {
    display: flex !important;
    flex-direction: column;
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1rem;
}

.navbar-container .isMenuOpen li {
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-container .isMenuOpen li:last-child {
    border-bottom: none;
}
